[tools]
go = "latest"
{{ if (eq .chezmoi.os "darwin") -}}
  python = "latest"
{{ end -}}
{{ if not (eq .chezmoi.os "darwin") -}}
  ruby = "latest"
{{ end -}}
terraform = "latest"
eksctl = "latest"
crystal = "latest"
node = ["latest", "18"]
gcloud = "latest"
usage = "latest"
deno = "latest"
java = "latest"

[env]
_.path = [
  "~/.local/bin",
  "~/.local/share/bin",
  "~/.local/share/cargo/bin",
  "~/.local/share/go/bin",
]
